# Challenge 3

```yaml
title: ""
week: 3
posted_on: 2024-01-17
created_on: 2024-03-08
last_upated: 2024-03-08
```

## Setup the notebook

In [1]:
import polars as pl

from src.challenge3 import run_pipeline

## Parameters

In [2]:
WEEK1_INPUT_CSV = "input/PD 2024 Wk 1 Input.csv"
WEEK3_INPUT_XLSX = "input/PD 2024 Wk 3 Input.xlsx"
OUTPUT_NDJSON = "output/sales_difference_to_target.ndjson"

## Run the pipeline

Load the data.

In [3]:
week1_data = pl.scan_csv(WEEK1_INPUT_CSV)

In [4]:
sheet_names = ["Q1", "Q2", "Q3", "Q4"]
week3_data_dict = pl.read_excel(WEEK3_INPUT_XLSX, sheet_name=sheet_names)

Run the pipeline.

In [5]:
output_data = run_pipeline(week1_data, week3_data_dict)

This is the end of the activity, so collect the data.

In [6]:
collected_data = output_data.collect()

Preview the output data.

In [7]:
collected_data.sample(8)

shape: (8, 5)
┌─────────────────────┬───────┬─────────────┬─────────────────┬──────────────┐
│ difference_to_taget ┆ month ┆ total_sales ┆ class           ┆ target_sales │
│ ---                 ┆ ---   ┆ ---         ┆ ---             ┆ ---          │
│ f64                 ┆ i64   ┆ f64         ┆ str             ┆ i64          │
╞═════════════════════╪═══════╪═════════════╪═════════════════╪══════════════╡
│ 3038.4              ┆ 6     ┆ 46538.4     ┆ Premium Economy ┆ 43500        │
│ -3652.0             ┆ 12    ┆ 45348.0     ┆ Premium Economy ┆ 49000        │
│ 73960.0             ┆ 1     ┆ 193960.0    ┆ First Class     ┆ 120000       │
│ -4310.4             ┆ 10    ┆ 43689.6     ┆ Premium Economy ┆ 48000        │
│ 8398.0              ┆ 5     ┆ 42898.0     ┆ Economy         ┆ 34500        │
│ -75405.0            ┆ 11    ┆ 154595.0    ┆ First Class     ┆ 230000       │
│ 15665.0             ┆ 2     ┆ 145665.0    ┆ First Class     ┆ 130000       │
│ -5477.0             ┆ 11    ┆ 34023.0     ┆ Economy         ┆ 39500        │
└─────────────────────┴───────┴─────────────┴─────────────────┴──────────────┘

Output the data.

In [ ]:
collected_data.write_ndjson(OUTPUT_NDJSON)