# Challenge 3

```yaml
title: ""
week: 3
posted_on: 2024-01-17
created_on: 2024-03-08
last_upated: 2024-03-08
```

## Setup the notebook

In [1]:
import polars as pl

from src.challenge3 import run_pipeline

## Parameters

In [2]:
WEEK1_INPUT_CSV = "input/PD 2024 Wk 1 Input.csv"
WEEK3_INPUT_XLSX = "input/PD 2024 Wk 3 Input.xlsx"
OUTPUT_NDJSON = "output/difference_to_target.ndjson"

## Run the pipeline

Load the data.

In [3]:
week1_data = pl.scan_csv(WEEK1_INPUT_CSV)

In [4]:
sheet_names = ["Q1", "Q2", "Q3", "Q4"]
week3_data_dict = pl.read_excel(WEEK3_INPUT_XLSX, sheet_name=sheet_names)

Run the pipeline.

In [5]:
output_data = run_pipeline(week1_data, week3_data_dict)

This is the end of the activity, so collect the data.

In [6]:
collected_data = output_data.collect()

Preview the output data.

In [7]:
collected_data.sample(8)

shape: (8, 5)
┌─────────────────────┬───────┬─────────────┬────────────────┬──────────────┐
│ difference_to_taget ┆ month ┆ total_sales ┆ class          ┆ target_sales │
│ ---                 ┆ ---   ┆ ---         ┆ ---            ┆ ---          │
│ f64                 ┆ i64   ┆ f64         ┆ str            ┆ i64          │
╞═════════════════════╪═══════╪═════════════╪════════════════╪══════════════╡
│ -3935.0             ┆ 5     ┆ 85065.0     ┆ Business Class ┆ 89000        │
│ 15665.0             ┆ 2     ┆ 145665.0    ┆ First Class    ┆ 130000       │
│ 5490.0              ┆ 7     ┆ 97490.0     ┆ Business Class ┆ 92000        │
│ 73960.0             ┆ 1     ┆ 193960.0    ┆ First Class    ┆ 120000       │
│ 12315.0             ┆ 3     ┆ 152315.0    ┆ First Class    ┆ 140000       │
│ 13852.5             ┆ 8     ┆ 106852.5    ┆ Business Class ┆ 93000        │
│ -171.0              ┆ 3     ┆ 31829.0     ┆ Economy        ┆ 32000        │
│ -2667.0             ┆ 4     ┆ 31333.0     ┆ Economy        ┆ 34000        │
└─────────────────────┴───────┴─────────────┴────────────────┴──────────────┘

Output the data.

In [8]:
collected_data.write_ndjson(OUTPUT_NDJSON)